---
import Nav from '../components/Nav.astro'
import { models } from '../data/models';

import Layout from '../layouts/Layout.astro';
export function getStaticPaths() {
  return models.map(({ modelName }) => ({ params: { modelName } }));
}

const model = models.find(({ modelName }) => modelName === Astro.params.modelName);

---

<Layout title="Welcome to Astro.">
	<main data-model-name={model?.modelName}>
		<h1>{model?.modelName || 'wrong model'}</h1>
    <div id="graph-container"></div>
    <Nav />
	</main>
</Layout>

<script>
  import { forceGraph } from '../scripts/forceGraph';
  const modelName = document.querySelector('[data-model-name]')?.getAttribute('data-model-name');
  fetch(`/json/terms/${modelName}.json`)
    .then(response => response.json())
    .then((terms: Record<string, string[] | null>) => {
      document.getElementById('graph-container')!.appendChild(forceGraph({
        nodes: Object.keys(terms).map(term => ({ id: term, group: 1 })),
        links: Object.entries(terms).flatMap(([source, targets]) => targets ? targets.map(target => ({ source, target, value: 1 })) : [])
      }, {
        nodeId: d => d.id,
        nodeGroup: d => d.group,
        nodeTitle: d => `${d.id}\n${d.group}`,
        linkStrokeWidth: l => Math.sqrt(l.value),
      }));
    })
    .catch(err => console.error(err));

</script>
