---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p>
			The goal of this project is to generate and compare the terms that large language models (for now OpenAI GPT-3 and Mistral) associate with each other.
			<br />
			This is done by generating a list of terms that are associated with a given term, and then iterate with the generated terms as starting term.
		</p>
    <p>
      
    </p>
    <div id="graph-container"></div>
	</main>
</Layout>

<script>
  import { forceGraph } from '../scripts/forceGraph';

  fetch('/json/terms/mistral-tiny.json')
    .then(response => response.json())
    .then((terms: Record<string, string[] | null>) => {
      document.getElementById('graph-container')!.appendChild(forceGraph({
        nodes: Object.keys(terms).map(term => ({ id: term, group: 1 })),
        links: Object.entries(terms).flatMap(([source, targets]) => targets ? targets.map(target => ({ source, target, value: 1 })) : [])
      }, {
        nodeId: d => d.id,
        nodeGroup: d => d.group,
        nodeTitle: d => `${d.id}\n${d.group}`,
        linkStrokeWidth: l => Math.sqrt(l.value),
      }));
    })
    .catch(err => console.error(err));

</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
