---
import { models } from '../data/models';
const { className } = Astro.props;
---
<nav class={className}>
  <ul>
    {models.map(model => (
      <li class={Astro.params.modelName === model.modelName ? 'active' : null}>
        <a href={`/${model.modelName}`}>{model.modelName}</a>
      </li>
    ))}
  </ul>
</nav>