---
---

<div class="term-details"></div>

<style>
  .term-details {
    position: absolute;
    max-height: calc(100% - (var(--spacing, 0.5rem) * 2));
    overflow: auto;
    left: var(--spacing, 0.5rem);
    top: var(--spacing, 0.5rem);
  }
  .term-details ul {
    padding: 0;
    margin: 0;
  }
</style>